PyYAML>=5.4.1
jinja2>=3.0.1
requests>=2.26.0
paramiko>=2.7.2
scp>=0.13.6
futures>=3.1.1
urllib3>=1.25.9
email-validator>=1.1.3
pysnow>=0.7.17
python-magic>=0.4.24
pyopenssl>=20.0.1
pygithub>=1.55
pyxlsx>=1.1.3
openpyxl>=3.0.9
croniter>=1.0.15